In [2]:
import numpy as np
import pandas as pd
import scipy.stats as st
import seaborn as sns

In [5]:
df = pd.read_csv("matching_results.csv")

In [20]:
means = df.mean()
means_df = pd.DataFrame(means)
means_df

                    0
1L6lSFiV4xo  2.700000
3OgsRa7VDtI  2.166667
8nt3edWLgIg  2.400000
9TPFLHvn024  2.333333
B8rmi95pYL0  2.533333
dYNc3P4jSt4  2.400000
BhMKmovNjvc  2.733333
FKxaL8Iau8Q  2.500000
E0oPnS7rUwE  2.366667
fTSXvLzNd0o  2.233333
HqekWfSJCSA  2.233333
Hj9oB4zpHww  2.400000
JFQLvbVJVMg  2.500000
LjAsM1vAhW0  2.233333
LujWrkYsl64  2.166667
mjDjbJJlqZ0  2.400000
QKHkSUiQboA  2.033333
P2AUat93a8Q  2.266667
shG0ezBeeJc  2.200000
PhVP1tNeGyY  2.233333

In [22]:
m = means_df.mean()
print(m)
l,t = st.t.interval(alpha=0.95, df=len(means_df)-1, loc=means_df.mean(), scale=st.sem(means_df)) 
print(m-l)
print(m-t)

0    2.351667
dtype: float64
0    0.083855
dtype: float64
0   -0.083855
dtype: float64