# Evaluation of Matching Survey

In [2]:
import numpy as np
import pandas as pd
import scipy.stats as st
import seaborn as sns

In [27]:
df = pd.read_csv("matching_results.csv")
del df["Zeitstempel"]

## Show mean rating per participant

In [42]:
pd.DataFrame(df.T.mean()).T

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,2.05,2.75,2.25,2.35,2.15,2.05,2.45,2.15,2.5,2.35,...,2.0,1.65,1.8,2.35,2.9,3.0,2.35,2.3,2.7,2.25

## Show means per sample

In [43]:
means_df = pd.DataFrame(df.mean())
means_df.T

,1L6lSFiV4xo,3OgsRa7VDtI,8nt3edWLgIg,9TPFLHvn024,B8rmi95pYL0,dYNc3P4jSt4,BhMKmovNjvc,FKxaL8Iau8Q,E0oPnS7rUwE,fTSXvLzNd0o,HqekWfSJCSA,Hj9oB4zpHww,JFQLvbVJVMg,LjAsM1vAhW0,LujWrkYsl64,mjDjbJJlqZ0,QKHkSUiQboA,P2AUat93a8Q,shG0ezBeeJc,PhVP1tNeGyY
0,2.7,2.166667,2.4,2.333333,2.533333,2.4,2.733333,2.5,2.366667,2.233333,2.233333,2.4,2.5,2.233333,2.166667,2.4,2.033333,2.266667,2.2,2.233333

## Calculate mean and 95% confidence interval

In [36]:
m = means_df.mean()
l,t = st.t.interval(alpha=0.95, df=len(means_df)-1, loc=m, scale=st.sem(means_df)) 

print(f"Mean rating: {float(m):.2f} +- {float(m-l):.2f}")

Mean rating: 2.35 +- 0.08